.button {
  --button-height: 35px;
  --button-bg-color: var(--primary);
  width: 130px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .button {
    --button-height: 32px;
    --button-font-size: 14px;
    width: 96px;
  }
}
